@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #181818;
    color: #fff;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul li {
    list-style: none;
}
button {
    border: none;
}
/* var */
:root {
    --secondary-text: #aaa;
    --blue: #3ea6ff;
}
/* header */
header {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 56px;
}
header .left-menu {
    font-size: 20px;
}
header .left-menu .logo {
    margin-left: 14px;
    color: red;
}
header .left-menu .logo span {
    color: #fff;
}
header .center-menu {
    display: none;
    width: 35%;
}
header .center-menu input {
    width: calc(100% - 65px);
    background-color: #000;
    height: 30px;
    padding: 2px 6px;
    color: #f0f0f0;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
header .center-menu button {
    width: 65px;
    height: 30px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.08);
}
header .right-menu a {
    margin-left: 24px;
}
header .right-menu .user {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: orangered;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    line-height: 32px;
}
/* main */
main {
    padding: 20px 20px;
}
/* video */
main .video .wrap {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
main .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
main .video-info .title {
    margin: 30px 0 20px 0;
    font-size: 18px;
}
main .video-info .etc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-text);
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}
main .video-info .left-etc {
    padding-bottom: 14px;
}
main .video-info .right-etc li {
    display: inline-block;
    padding: 0 10px 14px 10px;
    margin: 0 -2px;
}
main .video-info .right-etc i {
    margin-right: 6px;
}
main .video-info .right-etc li.upAndDown {
    border-bottom: 2px solid var(--blue);
}
main .video-info .right-etc a.selected {
    color: var(--blue);
}
main .video-info .creator-info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    padding: 14px 0;
}
main .video-info .creator-info .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
main .video-info .creator-info .top img {
    border-radius: 50%;
}
main .video-info .creator-info .top .name {
    flex: 1;
    padding-left: 14px;
}
main .video-info .creator-info .top .name h2 {
    display: inline-block;
    font-size: 14px;
}
main .video-info .creator-info .top .name span {
    font-size: 13px;
    color: var(--secondary-text);
}
main .video-info .creator-info .top .subscribe button {
    padding: 10px 16px;
    color: var(--secondary-text);
    background-color: rgba(255, 255, 255, 0.1);
}
main .video-info .creator-info .top .subscribe i {
    color: var(--secondary-text);
    margin: 0 10px;
}
main .video-info .creator-info .down .disc {
    margin-left: 64px;
    font-size: 14px;
}
main .video-info .creator-info .down .more {
    display: none;
}
main .video-info .creator-info .down .disc .time {
    color: var(--blue);
    cursor: pointer;
}
main .video-info .creator-info .down .disc a {
    color: var(--blue);
}
main .video-info .creator-info .down .disc .category {
    display: inline-block;
    width: 110px;
    color: var(--secondary-text);
}
main .video-info .creator-info .down .disc .scienceTech {
    color: var(--blue);
}
main .video-info .creator-info .down .disc .more_txt {
    display: inline-block;
    color: var(--secondary-text);
    margin-top: 14px;
    cursor: pointer;
}
/* next video */
main .next-video {
    margin-top: 24px;
}
main .next-video .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
main .next-video .title h2 {
    font-size: 16px;
}
main .next-video .title span {
    font-size: 13px;
    color: var(--secondary-text);
}
main .next-video .videos {
    display: flex;
    margin-bottom: 8px;
}
main .next-video .videos.first {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}
main .next-video .videos img {
    margin-right: 10px;
    height: 100%;
}
main .next-video .videos .top {
    display: flex;
}
main .next-video .videos .top i {
    color: var(--secondary-text);
    margin: 3px 0 0 10px;
}
main .next-video .videos h2 {
    font-size: 14px;
    margin-bottom: 4px;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}
main .next-video .videos span {
    display: block;
    font-size: 13px;
    color: var(--secondary-text);
}
main .next-video .moreBtn {
    width: 100%;
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    padding: 10px 0;
}
/* video comment */
main .video-comment {
    margin-top: 24px;
}
main .video-comment .util {
    display: flex;
    margin-bottom: 24px;
}
main .video-comment .util h2 {
    font-size: 16px;
    margin-right: 30px;
}
main .video-comment .util span {
    font-size: 14px;
    color: var(--secondary-text);
}
main .video-comment .add-comment {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}
main .video-comment .add-comment a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: orangered;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
}
main .video-comment .add-comment .right {
    flex: 1;
}
main .video-comment .add-comment .right input {
    width: 100%;
    font-size: 15px;
    color: var(--secondary-text);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    padding-bottom: 6px;
}
main .video-comment .add-comment .right input::placeholder {
    color: var(--secondary-text);
    font-size: 15px;
}
main .video-comment .add-comment .right input:focus {
    outline: none;
}
main .video-comment .add-comment .right .btn {
    text-align: right;
    margin-top: 10px;
}
main .video-comment .add-comment .right .btn button {
    padding: 10px 24px;
    border-radius: 3px;
    font-size: 14px;
}
main .video-comment .add-comment .right .btn button:first-child {
    background-color: transparent;
    color: var(--secondary-text);
    margin-right: 10px;
}
main .video-comment .add-comment .right .btn button:last-child {
    background-color: rgba(255, 255, 255, 0.3);
}
main .video-comment .user-container {
    display: flex;
    margin-bottom: 24px;
}
main .video-comment .user-container img {
    border-radius: 50%;
}
main .video-comment .user-container > img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
main .video-comment .user-container .right {
    color: var(--secondary-text);
}
main .video-comment .user-container .right .fixed {
    font-size: 13px;
    color: var(--secondary-text);
    margin-bottom: 10px;
}
main .video-comment .user-container .right .name {
    font-size: 13px;
    color: #fff;
    margin-right: 4px;
}
main .video-comment .user-container .right .name.creator {
    display: inline-block;
    background-color: var(--secondary-text);
    padding: 3px 6px;
    border-radius: 20px;
}
main .video-comment .user-container .right .modi {
    font-size: 13px;
    color: var(--secondary-text);
}
main .video-comment .user-container .right .user-comment {
   font-size: 14px; 
   color: #fff;
   margin: 4px 0 12px 0;
}
main .video-comment .user-container .right i {
    margin-right: 14px;
    font-size: 13px;
}
main .video-comment .user-container .right img {
    vertical-align: top;
    margin-right: 10px;
}
main .video-comment .user-container .right span {
    font-size: 13px;
}

/* media query */
@media screen and (max-width: 659px) {
    main .video-info .etc {
        display: block;
    }
    main .video-info .etc .right-etc {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-top: 4px;
    }
    main .video-info .etc .right-etc i {
        display: block;
        padding-left: 5px;
        margin-bottom: 5px;
    }
    main .video-info .etc .right-etc .upAndDown {
        border-bottom: none;
    }
}
@media screen and (min-width: 660px) {
    header .right-menu .fa-solid.fa-magnifying-glass {
        display: none;
    }
    header .center-menu {
        display: block;
    }
    
}
@media screen and (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 7.6fr 2.4fr;
        row-gap: 0px;
        column-gap: 20px;
    }
    main .video-info {
        grid-row: 2;
    }
    main .next-video {
        margin-top: 0;
    }
    main .video-comment {
        grid-row: 3;
    }
}
@media screen and (min-width: 1600px) {
    main {
        width: 90%;
        margin: 0 auto;
    }
}
