* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
.container {
    width: 84%;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    font-size: 13px;
}
nav a img {
    width: 110px;
    margin: 3px 0 0 10px;
}
nav ul {
    display: flex;
}
nav ul li {
    padding: 20px 16px;
}
nav ul li a {
    padding-bottom: 2px;
    color: #262626;
}
nav ul li a:hover {
    border-bottom: 2px solid #262626;
}
nav .left-menu {
    flex: 1;
    margin-left: 20px;
}
nav .right-menu i {
    margin-left: 3px;
    font-size: 16px;
}
nav .menu-btn {
    font-size: 2em;
    /* font-weight: 900; */
    display: none;
    cursor: pointer;
}
#section1 .banner1 {
    position: relative;
    height: 600px;
    background-image: url(../images/banner01.webp);
    background-position: center;
}
#section1 .banner1 .banner1-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
}
#section1 .banner1 .banner1-info h2 {
    font-size: 3em;
}
#section1 .banner1 .banner1-info .btn {
    display: inline-block;
    color: #fff;
    background-color: #262626;
    padding: 10px 20px;
    margin-top: 20px;
}

#section2 .row .col i {
    color: #4a83c6;
}
#section3 .banner {
    position: relative;
    height: 600px;
    background-image: url(../images/section03-banner.webp);
}
#section3 .banner .banner-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
}
#section3 .banner .banner-info h2 {
    font-size: 3em;
}
#section3 .banner .banner-info .btn {
    display: inline-block;
    color: #fff;
    background-color: #262626;
    padding: 10px 20px;
    margin-top: 20px;
}
#section3 .banner .banner-info .btn span {
    margin-right: 10px;
}
#section2, #section4 {
    padding: 60px 0 80px 0;
}
.row {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.row .col a {
    color: #000;
}
.row .col a img {
    width: 100%;
}
.row .col h2 {
    font-size: 1.2em;
    padding-top: 20px;
}
.row .col .shopNow {
    display: inline-block;
    color:#4a83c6;
    font-weight: bold;
    margin: 10px 5px 0 0;
}
.row .col i {
    color: #4a83c6;
}

@media screen and (max-width: 1400px) {
    nav ul.right-menu li a.search {
        display: none;
    }
    nav ul.right-menu li a.cart {
        display: none;
    }
    nav ul.right-menu li a.login {
        display: none;
    }
    #section1 .banner1 {
        background-position: -400px;
    }
}

@media screen and (max-width: 1080px) {
    header .container {
        width: 100%;
    }
    #section1 .container {
        width: 100%;
    }
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 860px) {
    nav {
        position: relative;
    }
    nav a img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 14px;
    }
    nav .left-menu {
        display: block;
        position: absolute;
        top: 56px;
        left: -20px;
        right: 0;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-10000px);
        opacity: 0.9;
    }
    nav .left-menu.show {
        transform: translateX(0);
    }
    nav .left-menu li {
        border-bottom: 1px solid #ccc;
    }
    nav .right-menu li .sitemap {
        display: none;
    }
    nav .right-menu li .sitemap+i {
        display: none;
    }
    nav .right-menu li .search+i {
        position: absolute;
        left: 60px;
    }
    nav .menu-btn {
        display: block;
        position: absolute;
        left: 20px;
    }
}

@media screen and (max-width: 540px) {
    .row {
        grid-template-columns: repeat(1, 1fr);
    }
}